{% load static %}  
<html>
    <head>
        <title>Upload example</title>
        <style>
            html, body {
                margin: 0!important;
                padding: 0!important;
                overflow: hidden!important;
                width: 100%;
            }
        </style>

        <script src="{% static 'js/RecordRTC.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <h1>Upload example | <a href='/list'>List files</a></h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
        <br>
        <button id="btn-start-recording">Start Recording</button>
        <button id="btn-stop-recording" disabled>Stop Recording</button>

        <hr>
        <audio controls></audio>
        <br>

        <button style="margin-top: 10px;" onclick="postData()" id='upload-btn'>Upload</button>
        <progress id="progress" value="0"></progress>
        <span id="display"></span>

        <script>
            var audio = document.querySelector('audio');

            function captureMicrophone(callback) {
                navigator.getUserMedia = navigator.getUserMedia || navigator.mediaDevices.getUserMedia || navigator.webkitGetUserMedia;
                navigator.getUserMedia({audio: true}, callback, function(error) {
                    alert('Unable to access your microphone.');
                    console.error(error);
                });
            }

            function stopRecordingCallback() {
                var blob = recorder.getBlob();
                audio.src = URL.createObjectURL(blob);
                audio.muted = false;
                audio.play();

                recorder.microphone.stop();
            }

            var recorder; // globally accessible

            document.getElementById('btn-start-recording').onclick = function() {
                this.disabled = true;
                captureMicrophone(function(microphone) {
                    audio.src = URL.createObjectURL(microphone);
                    audio.muted = true;
                    audio.play();

                    recorder = RecordRTC(microphone, {
                        recorderType: MediaStreamRecorder,
                        type: "audio",
                        bufferSize: 4096,
                        sampleRate: 44100,
                        //leftChannel: true,
                        //disableLogs: false,
                        mimeType: "audio/webm",
                        //checkForInactiveTracks: false
                    });

                    recorder.startRecording();

                    // release microphone on stopRecording
                    recorder.microphone = microphone;

                    document.getElementById('btn-stop-recording').disabled = false;
                });
            };

            document.getElementById('btn-stop-recording').onclick = function() {
                this.disabled = true;
                recorder.stopRecording(stopRecordingCallback);
            };

            function postData(){
                var fd = new FormData();
                fd.append('csrfmiddlewaretoken', "{{ csrf_token }}");
                fd.append('data_blob', recorder.blob, + new Date() + '.' + recorder.blob.type.split('/')[1]);
                fd.append('description', $("#id_description").val());

                var progressBar = document.getElementById("progress"),
                  display = document.getElementById("display");

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/', true);
                if (xhr.upload) {
                    xhr.upload.onprogress = function(e) {
                        if (e.lengthComputable) {
                            progressBar.max = e.total;
                            progressBar.value = e.loaded;
                            display.innerText = Math.floor((e.loaded / e.total) * 100) + '%';
                        }
                    }
                    xhr.upload.onloadstart = function(e) {
                        console.log("start");
                        $("#upload-btn").prop('disabled', true);
                        progressBar.value = 0;
                        display.innerText = '0%';
                    }
                    xhr.upload.onloadend = function(e) {
                        progressBar.value = e.loaded;
                        display.innerText = display.innerText + " Concluido";
                        $("#upload-btn").prop('disabled', false);
                        setTimeout(function() { location.reload(); }, 3000);
                    }
                }
                xhr.send(fd);
            }
        </script>
    </body>
</html>